html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@viewport {
	max-zoom: 0.8;
}

@font-face {
	font-family: "pixel FJ 8pt";
	src: url("pixelFJ8pt.ttf");
}

button::-moz-focus-inner {
  border: 0 !important;
}
button:focus, button:hover, button:active {
   outline: 0 !important;
}

button:active {
	/*position: relative;*/
	/*top: 0.5px;*/
	border-width: 2px 2px 2px 2px;
}

aside {
	font-family: "pixel FJ 8pt", sans-serif;
	font-size: medium;
	width: 600px;
	height: 400px;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #FFF;
	color: #555;
	position: fixed;
	z-index: 50;
	border: 1px solid #BBB;
}

aside.half-pixel-shift {
	padding-left: 0.5px;
}

aside p {
	text-align: center;
}

aside p.closebutton {
	margin-left: 550px;
}

button.lost {
	font-family: "pixel FJ 8pt", sans-serif;
	font-size: medium;
	color: #444;
	width: 200px;
	height: 50px;
	display: block;
	margin: 0 auto;
}

body {
	/*width: 2700px;*/
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #222*/
}

button {
  margin: 0.5px 0.5px 0.5px 0.5px;
  background-color: #EEE;
  border-radius: 4px;
  moz-border-radius: 4px;
  webkit-border-radius: 4px;
  height: 64px;
  width: 64px; 
  /*change border colour*/
	border-style: solid;
	border-color: #555 #555 #999 #777;
	border-width: 1px 2px 3px 2px;
	-webkit-user-select: none;
	vertical-align: top;
}

main {
	position: relative;
}

div {
	position: absolute;
	width: 1300px;
	/*animation: fadein 1s;*/
	font-size: 0;
	line-height: 0;
}

@keyframes fadein {
	from { opacity: 0 }
	to   { opacity: 1 }
}

button.zero {
	background-color: #eee;
	/*background: -moz-radial-gradient(center, ellipse cover, #ddd 0%, #eee 100%);*/
	/*background: -webkit-radial-gradient(center, ellipse cover, #ddd 0%,#eee 100%);*/
	/*background: radial-gradient(ellipse at center, #dedede 0%,#eee 100%);*/
}

/*button.green {*/
	/*background-color: #5f5;*/
/*}*/

/*button.blue {*/
	/*background-color: #55f;*/
/*}*/

/*button.red {*/
	/*background-color: #f55;*/
/*}*/

button.green {
	background: #5f5;
	background: -moz-radial-gradient(center, ellipse cover, #8f8 0%, #5f5 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #8f8 0%,#5f5 100%);
	background: radial-gradient(ellipse at center, #8f8 0%,#5f5 100%);
	border-color: #484 #282 #282 #282;
}

button.blue {
	background: #55f;
	background: -moz-radial-gradient(center, ellipse cover, #88f 0%, #55f 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #88f 0%,#55f 100%);
	background: radial-gradient(ellipse at center, #88f 0%,#55f 100%);
	border-color: #448 #228 #228 #228;
}

button.red {
	background: #f55;
	background: -moz-radial-gradient(center, ellipse cover, #f88 0%, #f55 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #f88 0%,#f55 100%);
	background: radial-gradient(ellipse at center, #f88 0%,#f55 100%);
	border-color: #844 #822 #822 #822;
}
